/* 网易nec的 css reset http://nec.netease.com/framework/css-reset.html */
/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}

html {font-size:14px}
@media screen and (min-width:300px) {html {font-size: 250%;}}
@media screen and (min-width:320px) {html {font-size: 266.6667%;}}
@media screen and (min-width:340px) {html {font-size: 283.33333%;}}
@media screen and (min-width:360px) {html {font-size: 3000%;}}
@media screen and (min-width:375px) {html {font-size: 312.5%;}}
@media screen and (min-width:380px) {html {font-size: 316.66667%;}}
@media screen and (min-width:400px) {html {font-size: 333.33333%;}}
@media screen and (min-width:414px) {html {font-size: 345%;}}
@media screen and (min-width:440px) {html {font-size: 366.66667%;}}
@media screen and (min-width:480px) {html {font-size: 400%;}}
@media screen and (min-width:560px) {html {font-size: 466.66667%;}}
@media screen and (min-width:640px) {html {font-size: 533.33333%;}}
@media screen and (min-width:720px) {html {font-size: 600%;}}

html{
    /* 设置全局字体 */
    font-family: PingFang SC;
}

.u-close{
    position: absolute;
    top: -0.57rem;
    right: 0;
    width: 0.42rem;
    height: 0.42rem;
    border: 1px solid #fff;
    border-radius: 50%;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}
.u-close:after,.u-close:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
}
.u-close:before{
    transform: translate(-50%, -50%) rotate(90deg);
    transform-origin: 50% 50%;
}

.u-button {
    display: inline-block;
    padding: 0.25rem;
    text-align: center;
    border-radius: 2px;
}

.u-button.button-red{
    color: #dcdcdc;
    background-color: #b83a45;
}